@import url(//fonts.googleapis.com/css?family=Satisfy);

* {
    font-family: Helvetica, Arial, sans-serif;
}

#sidebar {
    background-color: #333;
    color: #fff;
    text-align: center;
    list-style-type: none;
}

#title {
    font-family: 'Satisfy', cursive;
    font-size: 1.2em;
}

@media(min-width: 992px) {
    #sidebar {
        height: 100%;
        width: 75px;
        position: fixed;
    }

    #sidebar > li {
        margin-top: 1em;
    }
}

@media(max-width: 992px) {
    #sidebar {
        position: static;
        width: 100%;
    }
}

#item-count {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}

#item-count-label {
    font-size: 0.8em;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.refresh-animation {
    -webkit-animation: rotating 2s linear infinite;
    -webkit-transform-origin: 7px 8px;
    display: inline-block;
}

#main-content {
    margin: 0;
}

@media(min-width: 992px) {
    #main-content {
        margin-left: 75px;
    }
}

ul#item_container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

span.item-date {
    display: none;
}

li.item-closed .item-link {
    display: none;
}

li.item-closed .item-summary {
    display: none;
}

li.item-closed .item-actions {
    display: none;
}

#item_container > li {
    border-top: 1px solid #ccc;
}

#item_container > li:first-child {
    border-top: none;
}

.item-closed {
    padding: 0.5em 0;
}

.item-opened {
    padding: 0.5em 0;
}

.item-title {
     background-color: #adbeda;
     color: #000;
     text-decoration: none;
     padding: 0.5em 1em;
     display: block;
     font-weight: bold;
     cursor: pointer;
}

.item-link {
    padding: 0.5em 1em;
    display: block;
}

.item-link a {
    color: #333;
    text-decoration: none;
}

.item-summary {
    display: block;
    padding: 0 1em;
}
