* {
    font-family: Helvetica, Arial, sans-serif;
}

ul#item_container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

span.item-date {
    display: none;
}

li.item-closed .item-link {
    display: none;
}

li.item-closed .item-summary {
    display:none;
}

#item_container > li {
    border-top: 1px solid #ccc;
}

#item_container > li:first-child {
    border-top: none;
}

.item-closed {
    padding: 0.5em 0;
}

.item-opened {
    padding: 0.5em 0;
}

.item-title {
     background-color: #adbeda;
     color: #000;
     text-decoration: none;
     padding: 0.5em 1em;
     display: block;
     font-weight: bold;
}

.item-link a {
    padding: 0.5em 1em;
    display: block;
    color: #333;
    text-decoration: none;
}

.item-summary {
    display: block;
    padding: 0 1em;
}